/.next/
/.snaplet/
/.vercel/
/node_modules/
/config/translations/*.d.json.ts
/supabase/.branches/
/supabase/.snaplet/dataExamples.json
/supabase/.snaplet/dataModel.json
/supabase/.temp/
/supabase/types.ts
/*.d.ts
.env*
!.env.example
*.tsbuildinfo
