APP_URL=http://localhost:3030
COOKIE_PREFIX=gl_

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ACCESS_TOKEN=
NEXT_PUBLIC_STORAGE_URL=$SUPABASE_URL/storage/v1/object/public

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5o

# Mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=

# CI
GITHUB_TOKEN=
VERCEL_TOKEN=
