@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --radius: 0.5rem;
    --background: hsl(0 0% 100%);
    --foreground: hsl(213 13% 14%);

    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);

    --border: hsl(206 21% 85%);
    --input: hsl(206 21% 85%);
    --ring: hsl(215.4 16.3% 46.9%);

    --muted: hsl(206 19% 93%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 29% 97%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 84.2% 60.2%);

    --primary: hsl(76 32% 45%);
    --primary-accent: hsl(75 48% 58%);
    --primary-foreground: var(--background);
    --secondary: hsl(192 40% 49%);
    --secondary-accent: hsl(192 48% 55%);
    --secondary-foreground: var(--background);
    --tertiary: hsl(217 53% 35%);
    --tertiary-accent: hsl(216 36% 33%);
    --tertiary-foreground: var(--background);

    --sidebar-background: var(--accent);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: var(--muted);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: hsl(240 5% 64.9%);
  }

  .dark {
    --background: hsl(225 67% 2%);
    --foreground: hsl(210 67% 96%);

    --card: hsl(213 26% 7%);
    --card-foreground: var(--foreground);
    --popover: hsl(210 14% 11%);
    --popover-foreground: var(--card-foreground);

    --border: hsl(214 13% 21%);
    --input: hsl(213 13% 27%);
    --ring: hsl(214 24% 70%);

    --muted: var(--card);
    --muted-foreground: hsl(214 24% 70%);
    --accent: var(--card);
    --accent-foreground: var(--foreground);
    --destructive: hsl(0 84.2% 50%);
    --destructive-foreground: hsl(0 84.2% 50%);

    --primary: hsl(75 48% 58%);
    --primary-accent: hsl(76 32% 45%);
    --primary-foreground: var(--background);
    --secondary: hsl(192 57% 59%);
    --secondary-accent: hsl(192 40% 49%);
    --secondary-foreground: var(--background);
    --tertiary: hsl(216 35% 44%);
    --tertiary-accent: hsl(217 36% 21%);
    --tertiary-foreground: var(--background);

    --sidebar-background: var(--card);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: hsl(214 13% 21%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(210 14% 11%);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: hsl(214 13% 21%);
    --sidebar-ring: hsl(214 13% 21%);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-accent: var(--secondary-accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-accent: var(--tertiary-accent);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  ::selection {
    @apply bg-foreground/25;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-primary {
    @apply text-primary;
  }
  .text-primary-accent {
    @apply text-primary-accent;
  }
  .text-primary-foreground {
    @apply text-primary-foreground;
  }
  .border-primary,
  .data-\[active\=true\]\:border-primary[data-active="true"] {
    @apply border-primary;
  }
  .text-secondary {
    @apply text-secondary;
  }
  .text-secondary-accent {
    @apply text-secondary-accent;
  }
  .text-secondary-foreground {
    @apply text-secondary-foreground;
  }
  .border-secondary,
  .data-\[active\=true\]\:border-secondary[data-active="true"] {
    @apply border-secondary;
  }
  .text-tertiary {
    @apply text-tertiary;
  }
  .text-tertiary-accent {
    @apply text-tertiary-accent;
  }
  .text-tertiary-foreground {
    @apply text-tertiary-foreground;
  }
  .border-tertiary,
  .data-\[active\=true\]\:border-tertiary[data-active="true"] {
    @apply border-tertiary;
  }
}

@layer components {
  .hide-password-toggle::-ms-reveal .hide-password-toggle::-ms-clear {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}
