@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --radius: 0.5rem;
    --background: hsl(0 0% 100%);
    --foreground: hsl(213 13% 14%);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --border: hsl(206 21% 85%);
    --input: hsl(206 21% 85%);
    --ring: hsl(215.4 16.3% 46.9%);
    --muted: hsl(206 19% 93%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 29% 97%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --success: hsl(140, 100%, 34%);
    --success-accent: hsl(138, 100%, 29%);
    --success-foreground: var(--background);
    --destructive: #e2162a;
    --destructive-accent: #c00408;
    --destructive-foreground: var(--background);
    --primary: #96ae4d;
    --primary-accent: #8ca73e;
    --primary-foreground: var(--background);
    --secondary: #4babc3;
    --secondary-accent: #419db4;
    --secondary-foreground: var(--background);
    --tertiary: hsl(217 53% 35%);
    --tertiary-accent: hsl(216 36% 33%);
    --tertiary-foreground: var(--background);
    --sidebar-background: var(--accent);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: var(--muted);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: hsl(240 5% 64.9%);
  }

  .dark {
    --background: hsl(225 67% 2%);
    --foreground: hsl(210 67% 96%);
    --card: hsl(213 26% 7%);
    --popover: hsl(210 14% 11%);
    --border: hsl(214 13% 21%);
    --input: hsl(213 13% 27%);
    --ring: hsl(214 24% 70%);
    --muted: var(--card);
    --muted-foreground: hsl(214 24% 70%);
    --accent: hsl(240, 3%, 19%);
    --accent-foreground: var(--foreground);
    --success: hsl(144, 100%, 40%);
    --success-accent: hsl(140, 100%, 34%);
    --success-foreground: var(--foreground);
    --destructive: hsl(0 84.2% 50%);
    --destructive-accent: hsl(0 84.2% 50%);
    --destructive-foreground: var(--foreground);
    --primary: hsl(75 48% 58%);
    --primary-accent: hsl(76 32% 45%);
    --secondary: hsl(192 57% 59%);
    --secondary-accent: hsl(192 40% 49%);
    --tertiary: hsl(216 35% 44%);
    --tertiary-accent: hsl(217 36% 21%);
    --sidebar-background: var(--card);
    --sidebar-primary: hsl(214 13% 21%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(210 14% 11%);
    --sidebar-border: hsl(214 13% 21%);
    --sidebar-ring: hsl(214 13% 21%);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-accent: var(--secondary-accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-accent: var(--tertiary-accent);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  ::selection {
    @apply bg-foreground/10;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dark {
    ::selection {
      @apply bg-foreground/25;
    }
  }
}

@layer components {
  .markdown {
    @apply text-base leading-6 wrap-break-word;

    & > *:first-child {
      @apply mt-0!;
    }
    & > *:last-child {
      @apply mb-0!;
    }
    a:not([href]) {
      @apply text-inherit no-underline;
    }
    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    pre,
    details {
      @apply mt-0 mb-4;
    }
    hr {
      @apply mx-0 my-6 h-1 border-0 bg-border p-0;
    }
    blockquote {
      @apply border-l-4 border-border px-4 text-muted-foreground;
    }
    blockquote > :first-child {
      @apply mt-0;
    }
    blockquote > :last-child {
      @apply mb-0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-4 mb-4 leading-tight font-semibold;
    }
    h1 tt,
    h1 code,
    h2 tt,
    h2 code,
    h3 tt,
    h3 code,
    h4 tt,
    h4 code,
    h5 tt,
    h5 code,
    h6 tt,
    h6 code {
      @apply px-1 text-inherit;
    }
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    h4 {
      @apply text-base;
    }
    h5 {
      @apply text-sm;
    }
    h6 {
      @apply text-sm;
    }
    summary h1,
    summary h2,
    summary h3,
    summary h4,
    summary h5,
    summary h6 {
      @apply inline-block;
    }
    summary h1,
    summary h2 {
      @apply border-b-0 pb-0;
    }
    ul,
    ol {
      @apply pl-6;
    }
    ul {
      @apply list-disc;
    }
    div > ol:not([type]) {
      @apply list-decimal;
    }
    ul ul,
    ul ol,
    ol ol,
    ol ul {
      @apply my-0;
    }
    li > p {
      @apply mt-4;
    }
    li + li {
      @apply mt-1;
    }
    dl {
      @apply p-0;
    }
    dl dt {
      @apply mt-4 p-0 text-base font-semibold italic;
    }
    dl dd {
      @apply mb-4 px-4;
    }
    table {
      @apply block w-max max-w-full overflow-auto tabular-nums;
    }
    table th {
      @apply font-semibold;
    }
    table th,
    table td {
      @apply border border-border px-3 py-1.5;
    }
    table td > :last-child {
      @apply mb-0;
    }
    table tr {
      @apply border-t border-t-muted-foreground;
    }
    table tr:nth-child(2n) {
      @apply bg-muted;
    }
    table img {
      @apply bg-black;
    }
    img {
      @apply box-content max-w-full;
    }
    img {
      @apply pl-5;
    }
    code,
    tt {
      @apply m-0 rounded bg-muted px-1.5 py-1 text-[85%] whitespace-break-spaces;
    }
    code br,
    tt br {
      @apply hidden;
    }
    del code {
      @apply decoration-inherit;
    }
    samp {
      @apply text-[85%];
    }
    pre {
      @apply wrap-normal;
    }
    pre code {
      @apply text-[100%];
    }
    pre > code {
      @apply m-0 border-0 bg-accent p-0 break-normal whitespace-pre;
    }
    pre {
      @apply overflow-auto rounded bg-muted p-4 text-[85%] leading-1.5 text-foreground;
    }
    pre code,
    pre tt {
      @apply m-0 inline max-w-full overflow-visible border-0 bg-accent p-0 wrap-normal;
    }
  }
}

@utility text-stroke-* {
  /* prettier-ignore */
  -webkit-text-stroke-width: --value(number)px;
  /* prettier-ignore */
  -webkit-text-stroke-color: --value(--color-*);
}
